
core.index
core/dungeon-masters-guide.index
core/dungeon-masters-guide/class-oathbreaker.xml
core/dungeon-masters-guide/cleric-deathdomain.xml
core/dungeon-masters-guide/items-armor.xml
core/dungeon-masters-guide/items-firearms.xml
core/dungeon-masters-guide/items-gifts.xml
core/dungeon-masters-guide/items-poison.xml
core/dungeon-masters-guide/items-potions.xml
core/dungeon-masters-guide/items-rings.xml
core/dungeon-masters-guide/items-rods.xml
core/dungeon-masters-guide/items-staffs.xml
core/dungeon-masters-guide/items-treasure.xml
core/dungeon-masters-guide/items-vehicles.xml
core/dungeon-masters-guide/items-wands.xml
core/dungeon-masters-guide/items-weapons.xml
core/dungeon-masters-guide/items-wondrous.xml
core/dungeon-masters-guide/subrace-eladrin.xml
core/monster-manual.index
core/monster-manual/languages.xml
core/players-handbook.index
core/players-handbook/background-acolyte.xml
core/players-handbook/background-charlatan.xml
core/players-handbook/background-criminal.xml
core/players-handbook/background-entertainer.xml
core/players-handbook/background-folkhero.xml
core/players-handbook/background-guildartisan.xml
core/players-handbook/background-hermit.xml
core/players-handbook/background-noble.xml
core/players-handbook/background-outlander.xml
core/players-handbook/background-sage.xml
core/players-handbook/background-sailer.xml
core/players-handbook/background-soldier.xml
core/players-handbook/background-urchin.xml
core/players-handbook/class-barbarian.xml
core/players-handbook/class-bard.xml
core/players-handbook/class-cleric.xml
core/players-handbook/class-druid.xml
core/players-handbook/class-fighter.xml
core/players-handbook/class-monk.xml
core/players-handbook/class-paladin.xml
core/players-handbook/class-ranger.xml
core/players-handbook/class-rogue.xml
core/players-handbook/class-sorcerer.xml
core/players-handbook/class-warlock.xml
core/players-handbook/class-wizard.xml
core/players-handbook/companions.xml
core/players-handbook/deities.xml
core/players-handbook/feats.xml
core/players-handbook/items-armor.xml
core/players-handbook/items-gear.xml
core/players-handbook/items-instrument.xml
core/players-handbook/items-mounts.xml
core/players-handbook/items-packs.xml
core/players-handbook/items-tools.xml
core/players-handbook/items-weapons.xml
core/players-handbook/race-dragonborn.xml
core/players-handbook/race-dwarf.xml
core/players-handbook/race-elf.xml
core/players-handbook/race-gnome.xml
core/players-handbook/race-halfelf.xml
core/players-handbook/race-halfling.xml
core/players-handbook/race-halforc.xml
core/players-handbook/race-human.xml
core/players-handbook/race-tiefling.xml
core/players-handbook/spells.xml
core/sources.xml
homebrew.index
supplements.index
supplements/acquisitions-incorporated.index
supplements/acquisitions-incorporated/celebrity-adventurers-scion.xml
supplements/acquisitions-incorporated/failed-merchant.xml
supplements/acquisitions-incorporated/gambler.xml
supplements/acquisitions-incorporated/items.xml
supplements/acquisitions-incorporated/plaintiff.xml
supplements/acquisitions-incorporated/rival-intern.xml
supplements/acquisitions-incorporated/source.xml
supplements/acquisitions-incorporated/spells.xml
supplements/acquisitions-incorporated/vehicles.xml
supplements/acquisitions-incorporated/verdan.xml
supplements/curse-of-strahd.index
supplements/curse-of-strahd/background-blackfistdoubleagent.xml
supplements/curse-of-strahd/background-dragoncasualty.xml
supplements/curse-of-strahd/background-hauntedone.xml
supplements/curse-of-strahd/background-ironroutebandit.xml
supplements/curse-of-strahd/background-phlaninsurgent.xml
supplements/curse-of-strahd/background-strojanowprisoner.xml
supplements/curse-of-strahd/background-ticklebellynomad.xml
supplements/curse-of-strahd/items.xml
supplements/descent-into-avernus.index
supplements/descent-into-avernus/background-options.xml
supplements/descent-into-avernus/faceless.xml
supplements/descent-into-avernus/items.xml
supplements/descent-into-avernus/source.xml
supplements/ghosts-of-saltmarsh.index
supplements/ghosts-of-saltmarsh/fisher.xml
supplements/ghosts-of-saltmarsh/items.xml
supplements/ghosts-of-saltmarsh/marine.xml
supplements/ghosts-of-saltmarsh/shipwright.xml
supplements/ghosts-of-saltmarsh/smuggler.xml
supplements/guildmasters-guide-to-ravnica.index
supplements/guildmasters-guide-to-ravnica/azorius-functionary.xml
supplements/guildmasters-guide-to-ravnica/boros-legionnaire.xml
supplements/guildmasters-guide-to-ravnica/centaur.xml
supplements/guildmasters-guide-to-ravnica/cleric-orderdomain.xml
supplements/guildmasters-guide-to-ravnica/dimir-operative.xml
supplements/guildmasters-guide-to-ravnica/druid-circleofspores.xml
supplements/guildmasters-guide-to-ravnica/goblin.xml
supplements/guildmasters-guide-to-ravnica/golgari-agent.xml
supplements/guildmasters-guide-to-ravnica/gruul-anarch.xml
supplements/guildmasters-guide-to-ravnica/items.xml
supplements/guildmasters-guide-to-ravnica/izzet-engineer.xml
supplements/guildmasters-guide-to-ravnica/languages.xml
supplements/guildmasters-guide-to-ravnica/loxodon.xml
supplements/guildmasters-guide-to-ravnica/minotaur.xml
supplements/guildmasters-guide-to-ravnica/orzhov-representative.xml
supplements/guildmasters-guide-to-ravnica/rakdos-cultist.xml
supplements/guildmasters-guide-to-ravnica/selesnya-initiate.xml
supplements/guildmasters-guide-to-ravnica/simic-hybrid.xml
supplements/guildmasters-guide-to-ravnica/simic-scientist.xml
supplements/guildmasters-guide-to-ravnica/spells.xml
supplements/guildmasters-guide-to-ravnica/vedalken.xml
supplements/hoard-of-the-dragon-queen.index
supplements/hoard-of-the-dragon-queen/background-options.xml
supplements/hoard-of-the-dragon-queen/items.xml
supplements/locathah-rising.index
supplements/locathah-rising/race-locathah.xml
supplements/lost-laboratory-of-kwalish.index
supplements/lost-laboratory-of-kwalish/spells.xml
supplements/lost-mines-phandelver.index
supplements/lost-mines-phandelver/items.xml
supplements/lost-mines-phandelver/source.xml
supplements/mordenkainens-tome-of-foes.index
supplements/mordenkainens-tome-of-foes/race-gith.xml
supplements/mordenkainens-tome-of-foes/subrace-eladrin.xml
supplements/mordenkainens-tome-of-foes/subrace-seaelf.xml
supplements/mordenkainens-tome-of-foes/subrace-shadarkai.xml
supplements/mordenkainens-tome-of-foes/subrace-tiefling.xml
supplements/out-of-the-abyss.index
supplements/out-of-the-abyss/background-cromanthorrefugee.xml
supplements/out-of-the-abyss/background-gateurchin.xml
supplements/out-of-the-abyss/background-hillsfarmerchant.xml
supplements/out-of-the-abyss/background-hillsfarsmuggler.xml
supplements/out-of-the-abyss/background-options.xml
supplements/out-of-the-abyss/background-secretidentity.xml
supplements/out-of-the-abyss/background-shadefanatic.xml
supplements/out-of-the-abyss/background-tradesheriff.xml
supplements/out-of-the-abyss/items.xml
supplements/princes-of-the-apocalypse.index
supplements/princes-of-the-apocalypse/items.xml
supplements/princes-of-the-apocalypse/race-aarakocra.xml
supplements/princes-of-the-apocalypse/race-genasi.xml
supplements/princes-of-the-apocalypse/spells.xml
supplements/rise-of-tiamat.index
supplements/rise-of-tiamat/items.xml
supplements/sources.xml
supplements/storm-kings-thunder.index
supplements/storm-kings-thunder/items.xml
supplements/sword-coast-adventurers-guide.index
supplements/sword-coast-adventurers-guide/archetype-mastermind.xml
supplements/sword-coast-adventurers-guide/archetype-swashbuckler.xml
supplements/sword-coast-adventurers-guide/background-citywatch.xml
supplements/sword-coast-adventurers-guide/background-clancrafter.xml
supplements/sword-coast-adventurers-guide/background-cloisteredscholar.xml
supplements/sword-coast-adventurers-guide/background-courtier.xml
supplements/sword-coast-adventurers-guide/background-factionagent.xml
supplements/sword-coast-adventurers-guide/background-fartraveler.xml
supplements/sword-coast-adventurers-guide/background-inheritor.xml
supplements/sword-coast-adventurers-guide/background-knightoftheorder.xml
supplements/sword-coast-adventurers-guide/background-mercenaryveteran.xml
supplements/sword-coast-adventurers-guide/background-urbanbountyhunter.xml
supplements/sword-coast-adventurers-guide/background-uthgardttribemember.xml
supplements/sword-coast-adventurers-guide/background-waterdhaviannoble.xml
supplements/sword-coast-adventurers-guide/barbarian-battlerager.xml
supplements/sword-coast-adventurers-guide/barbarian-totemwarrior.xml
supplements/sword-coast-adventurers-guide/cleric-arcanadomain.xml
supplements/sword-coast-adventurers-guide/fighter-purpledragonknight.xml
supplements/sword-coast-adventurers-guide/monk-longdeath.xml
supplements/sword-coast-adventurers-guide/monk-sunsoul.xml
supplements/sword-coast-adventurers-guide/musical-instruments.xml
supplements/sword-coast-adventurers-guide/paladin-thecrown.xml
supplements/sword-coast-adventurers-guide/race-duergar.xml
supplements/sword-coast-adventurers-guide/race-ghostwisehalfling.xml
supplements/sword-coast-adventurers-guide/race-svirfneblin.xml
supplements/sword-coast-adventurers-guide/sorcerer-stormsorcery.xml
supplements/sword-coast-adventurers-guide/spells.xml
supplements/sword-coast-adventurers-guide/variant-half-elf.xml
supplements/sword-coast-adventurers-guide/variant-tiefling.xml
supplements/sword-coast-adventurers-guide/warlock-theundying.xml
supplements/sword-coast-adventurers-guide/wizard-bladesinging.xml
supplements/tales-from-the-yawning-portal.index
supplements/tales-from-the-yawning-portal/items.xml
supplements/tomb-of-annihilation.index
supplements/tomb-of-annihilation/background-anthropologist.xml
supplements/tomb-of-annihilation/background-archaeologist.xml
supplements/tomb-of-annihilation/race-tortle.xml
supplements/volos-guide-to-monsters.index
supplements/volos-guide-to-monsters/monstrous-adventurers.xml
supplements/volos-guide-to-monsters/race-aasimar.xml
supplements/volos-guide-to-monsters/race-firbolg.xml
supplements/volos-guide-to-monsters/race-goliath.xml
supplements/volos-guide-to-monsters/race-kenku.xml
supplements/volos-guide-to-monsters/race-lizardfolk.xml
supplements/volos-guide-to-monsters/race-tabaxi.xml
supplements/volos-guide-to-monsters/race-triton.xml
supplements/volos-guide-to-monsters/spells.xml
supplements/waterdeep-dragon-heist.index
supplements/waterdeep-dragon-heist/items.xml
supplements/waterdeep-dungeon-of-the-mad-mage.index
supplements/waterdeep-dungeon-of-the-mad-mage/items.xml
supplements/xanathars-guide-to-everything.index
supplements/xanathars-guide-to-everything/barbarian-ancestralguardian.xml
supplements/xanathars-guide-to-everything/barbarian-stormherald.xml
supplements/xanathars-guide-to-everything/barbarian-zealot.xml
supplements/xanathars-guide-to-everything/bard-glamour.xml
supplements/xanathars-guide-to-everything/bard-swords.xml
supplements/xanathars-guide-to-everything/bard-whispers.xml
supplements/xanathars-guide-to-everything/cleric-forgedomain.xml
supplements/xanathars-guide-to-everything/cleric-gravedomain.xml
supplements/xanathars-guide-to-everything/druid-dreams.xml
supplements/xanathars-guide-to-everything/druid-shepherd.xml
supplements/xanathars-guide-to-everything/eldritch-invocations.xml
supplements/xanathars-guide-to-everything/feats.xml
supplements/xanathars-guide-to-everything/fighter-arcanearcher.xml
supplements/xanathars-guide-to-everything/fighter-cavalier.xml
supplements/xanathars-guide-to-everything/fighter-samurai.xml
supplements/xanathars-guide-to-everything/items-wondrous.xml
supplements/xanathars-guide-to-everything/monk-drunkenmaster.xml
supplements/xanathars-guide-to-everything/monk-kensei.xml
supplements/xanathars-guide-to-everything/monk-sunsoul.xml
supplements/xanathars-guide-to-everything/paladin-conquest.xml
supplements/xanathars-guide-to-everything/paladin-redemption.xml
supplements/xanathars-guide-to-everything/ranger-gloomstalker.xml
supplements/xanathars-guide-to-everything/ranger-horizonwalker.xml
supplements/xanathars-guide-to-everything/ranger-monsterslayer.xml
supplements/xanathars-guide-to-everything/rogue-inquisitive.xml
supplements/xanathars-guide-to-everything/rogue-mastermind.xml
supplements/xanathars-guide-to-everything/rogue-scout.xml
supplements/xanathars-guide-to-everything/rogue-swashbuckler.xml
supplements/xanathars-guide-to-everything/sorcerer-divinesoul.xml
supplements/xanathars-guide-to-everything/sorcerer-shadowmagic.xml
supplements/xanathars-guide-to-everything/sorcerer-stormsorcery.xml
supplements/xanathars-guide-to-everything/spells.xml
supplements/xanathars-guide-to-everything/warlock-celestial.xml
supplements/xanathars-guide-to-everything/warlock-hexblade.xml
supplements/xanathars-guide-to-everything/wizard-warmagic.xml
third-party.index
third-party/critical-role.index
third-party/critical-role/barbarian-totem-duck.xml
third-party/critical-role/bard-maestro.xml
third-party/critical-role/bloodhunter-orderofthelycan.xml
third-party/critical-role/class-bloodhunter.xml
third-party/critical-role/fighter-gunslinger.xml
third-party/critical-role/taldorei-campaign-setting.index
third-party/critical-role/taldorei-campaign-setting/background-ashari.xml
third-party/critical-role/taldorei-campaign-setting/background-claspmember.xml
third-party/critical-role/taldorei-campaign-setting/background-lyceumstudent.xml
third-party/critical-role/taldorei-campaign-setting/background-recoveredcultist.xml
third-party/critical-role/taldorei-campaign-setting/barbarian-juggernaut.xml
third-party/critical-role/taldorei-campaign-setting/cleric-blooddomain.xml
third-party/critical-role/taldorei-campaign-setting/feats.xml
third-party/critical-role/taldorei-campaign-setting/monk-cobaltsoul.xml
third-party/critical-role/taldorei-campaign-setting/sorcerer-runechild.xml
third-party/dms-guild.index
third-party/dms-guild/class-cook.xml
third-party/dms-guild/expanded-racial-feats.xml
third-party/dms-guild/improved-backgrounds.xml
third-party/dms-guild/one-grung-above.xml
third-party/dms-guild/race-awakened-undead.xml
third-party/dms-guild/wayfinders-guide-to-eberron.index
third-party/dms-guild/wayfinders-guide-to-eberron/base.xml
third-party/dms-guild/wayfinders-guide-to-eberron/feats.xml
third-party/dms-guild/wayfinders-guide-to-eberron/items.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-detection.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-finding.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-handling.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-healing.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-hospitality.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-making.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-passage.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-scribing.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-sentinel.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-shadow.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-storm.xml
third-party/dms-guild/wayfinders-guide-to-eberron/mark-warding.xml
third-party/dms-guild/wayfinders-guide-to-eberron/race-changeling.xml
third-party/dms-guild/wayfinders-guide-to-eberron/race-kalashtar.xml
third-party/dms-guild/wayfinders-guide-to-eberron/race-shifter.xml
third-party/dms-guild/wayfinders-guide-to-eberron/race-warforged.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else.index
third-party/dms-guild/xanathars-lost-notes-to-everything-else/barbarian-courageous-heart.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/barbarian-red-reaver.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/barbarian-sacred-kin.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/bard-discord.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/bard-keys.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/bard-mourning.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/cleric-entropy-domain.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/cleric-survival-domain.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/dead.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/druid-seasons.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/druid-spiritlords.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/feyblood.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/fighter-dragoon.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/fighter-runeguard.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/heretic.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/legendary-lineage.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/monk-atonement.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/monk-empathy.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/paladin-predation.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/paladin-providence.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/polymorphed.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/ranger-burghal-explorer.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/ranger-wasteland-wanderer.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/retired-adventurer.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/rogue-divine-herald.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/sorcerer-fey-magic.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/source.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/warlock-chaos.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/warlock-noble-genie.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/wizard-beguiler.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/wizard-mage-hunter.xml
third-party/dms-guild/xanathars-lost-notes-to-everything-else/wizard-reconstruction.xml
third-party/dnd-wiki.index
third-party/dnd-wiki/background-adventurer.xml
third-party/dnd-wiki/background-apothecary.xml
third-party/dnd-wiki/background-bounty-hunter.xml
third-party/dnd-wiki/background-islander.xml
third-party/dnd-wiki/background-prospector.xml
third-party/dnd-wiki/background-witchhunter.xml
third-party/dnd-wiki/class-necromancer.xml
third-party/dnd-wiki/class-weapon-master.xml
third-party/dnd-wiki/druid-claw.xml
third-party/dnd-wiki/feats.xml
third-party/dnd-wiki/items-weapons.xml
third-party/dnd-wiki/race-dryad.xml
third-party/dnd-wiki/race-homunculus.xml
third-party/dnd-wiki/race-sprite.xml
third-party/dnd-wiki/sorcerer-arcane-origin.xml
third-party/dnd-wiki/spells.xml
third-party/dnd-wiki/subrace-firebearddwarf.xml
third-party/dnd-wiki/subrace-runedwarf.xml
third-party/genuine-fantasy-press.index
third-party/genuine-fantasy-press/forgotten-secrets.index
third-party/genuine-fantasy-press/forgotten-secrets/barbarian-accursed-path.xml
third-party/genuine-fantasy-press/forgotten-secrets/bard-harbinger.xml
third-party/genuine-fantasy-press/forgotten-secrets/familiars.xml
third-party/genuine-fantasy-press/forgotten-secrets/feats.xml
third-party/genuine-fantasy-press/forgotten-secrets/invocations.xml
third-party/genuine-fantasy-press/forgotten-secrets/origin-races.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-arachi.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-ashenspawn.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-groveborn.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-heraldic.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-imperial.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-luminari.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-maledicti.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-nocturne.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-oozian.xml
third-party/genuine-fantasy-press/forgotten-secrets/race-statuesque.xml
third-party/genuine-fantasy-press/forgotten-secrets/sorcerer-ashen-lineage.xml
third-party/genuine-fantasy-press/forgotten-secrets/sorcerer-blackthorn-lineage.xml
third-party/genuine-fantasy-press/forgotten-secrets/spells.xml
third-party/genuine-fantasy-press/forgotten-secrets/warlock-accursed-archive.xml
third-party/genuine-fantasy-press/forgotten-secrets/warlock-ashen-wolf.xml
third-party/genuine-fantasy-press/forgotten-secrets/warlock-blackthorn-grove.xml
third-party/genuine-fantasy-press/forgotten-secrets/warlock-currency-conspiracy.xml
third-party/genuine-fantasy-press/forgotten-secrets/warlock-eternal-citadel.xml
third-party/genuine-fantasy-press/forgotten-secrets/warlock-fallen-exile.xml
third-party/mage-hand-press.index
third-party/mage-hand-press/fighter-groveknight.xml
third-party/mage-hand-press/monk-howlinggale.xml
third-party/mage-hand-press/monk-immortalflame.xml
third-party/mage-hand-press/warlock-greattree.xml
third-party/mage-hand-press/warlock-shadowcabal.xml
third-party/sources.xml
unearthed-arcana.index
unearthed-arcana/20150202.xml
unearthed-arcana/20150504.xml
unearthed-arcana/20150803.xml
unearthed-arcana/20151102.xml
unearthed-arcana/20151207.xml
unearthed-arcana/20160104.xml
unearthed-arcana/20160404.xml
unearthed-arcana/20160606.xml
unearthed-arcana/20160801.xml
unearthed-arcana/20161121.xml
unearthed-arcana/20161205.xml
unearthed-arcana/20161212.xml
unearthed-arcana/20161219.xml
unearthed-arcana/20170109.xml
unearthed-arcana/20170117.xml
unearthed-arcana/20170206.xml
unearthed-arcana/20170213.xml
unearthed-arcana/20170313.xml
unearthed-arcana/20170403.xml
unearthed-arcana/20170417.xml
unearthed-arcana/20170424.xml
unearthed-arcana/20170605.xml
unearthed-arcana/20171009.xml
unearthed-arcana/20171113.xml
unearthed-arcana/20180108.xml
unearthed-arcana/20180212.xml
unearthed-arcana/20180409.xml
unearthed-arcana/20180514.xml
unearthed-arcana/20180611.xml
unearthed-arcana/20180723.xml
unearthed-arcana/20180813.xml
unearthed-arcana/20180910.xml
unearthed-arcana/20181008.xml
unearthed-arcana/20181112.xml
unearthed-arcana/20181217.xml
unearthed-arcana/20190228.xml
unearthed-arcana/20190514.xml
unearthed-arcana/20190815.xml
unearthed-arcana/20190905.xml
unearthed-arcana/20190918.xml
unearthed-arcana/20191003.xml
unearthed-arcana/20191017.xml
unearthed-arcana/planeshift.index
unearthed-arcana/planeshift/background-initiate.xml
unearthed-arcana/planeshift/background-inquisitor.xml
unearthed-arcana/planeshift/background-vizier.xml
unearthed-arcana/planeshift/cleric-ambition.xml
unearthed-arcana/planeshift/cleric-solidarity.xml
unearthed-arcana/planeshift/cleric-strength.xml
unearthed-arcana/planeshift/cleric-zeal.xml
unearthed-arcana/planeshift/feats-ixalan.xml
unearthed-arcana/planeshift/feats-kaladesh.xml
unearthed-arcana/planeshift/race-aetherborn.xml
unearthed-arcana/planeshift/race-aven.xml
unearthed-arcana/planeshift/race-goblin.xml
unearthed-arcana/planeshift/race-human-innistrad.xml
unearthed-arcana/planeshift/race-keldon-human.xml
unearthed-arcana/planeshift/race-khenra.xml
unearthed-arcana/planeshift/race-kor.xml
unearthed-arcana/planeshift/race-merfolk.xml
unearthed-arcana/planeshift/race-minotaur.xml
unearthed-arcana/planeshift/race-naga.xml
unearthed-arcana/planeshift/race-siren.xml
unearthed-arcana/planeshift/race-vampire.xml
unearthed-arcana/planeshift/race-vedalken.xml
unearthed-arcana/planeshift/sorcerer-pyromancer.xml
unearthed-arcana/planeshift/sources.xml
unearthed-arcana/planeshift/subrace-dwarf.xml
unearthed-arcana/planeshift/subrace-elf-kaladesh.xml
unearthed-arcana/planeshift/subrace-elf-zendikar.xml
unearthed-arcana/planeshift/subrace-merfolk.xml
third-party/dms-guild/monk-iron-embrace.xml
third-party/dms-guild/mordenkainens-tome-of-marvelous-magic.xml
